body{
    background-color: aquamarine;
}

div{
    background-image: image('nature.jpg');
    width: 500px;
    height: 500px;
    padding-left: 40px;
    padding-top: 40px;
}

.font{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

#a, #b{
    color: green;
}
#c, #d{
    color: gold;
}
#e, #f{
    color: red;
}

/*
      
    
        h1{
            color : red;
        }
        #a{
            color : blue;
        }

        here there appears to be a delema which style to choice from for this purpose we have specficity it goes in
        particular precedence or an order 1. inline with html , 2. id,  3. class,  4.type   sooo they way it works is it checks each 
        one by one 

        Selectors 
        a, b  Multiple Element Selectors
        a b   Descendant Selectors  ; selects all the decendants of similar elemnts 
        a > b Child Selectors
        a + b Adjacent Sibling Selectors
        [a=b] Attribute Selectors
        a:b   Pseudoclass Selectors
        a::b  pseudoelement Selectors

When you give an id it means give a unique value 
  when you give a class it means give to those elements
  this are valuable to you because it gives overview in bigger project 
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;*/